@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #0a0707;
    font-family: 'Poppins', sans-serif;
    gap: 219px;
    z-index: 999;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li{
    list-style:none;
    
}
.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:14px;
    transition: 0.5s;
}

.burger{
    display:none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height:3px;
    background-color:#fff;
    margin: 5px;
    transition: all 0.3s ease
    
}
.nav-links a:hover{
    color: rgb(255, 0, 0);
    font-weight: 500px;
    /* border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: 0.3s ease-in-out; */
}
/*------------ HEADER --------------*/
.header{
  z-index: 100;
  height: 90vh;

}
.waveWrapper {
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  height: calc(100% - 10vh);
  top: 0;
  overflow: hidden;
  background-image: linear-gradient(to top, #0099ff 20%, #005188 80%);
}
.top {
  opacity: 0.5;
  z-index: 15;
}
.mid {
  opacity: 0.75;
  z-index: 10;
}
.bottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat !important;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveTop {
  background-size: 50% 100px;
  animation: wave 3s;
  animation-delay: 1s;
}
@keyframes wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.50);
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveMid {
  background-size: 50% 120px;
  animation: wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  animation: wave 15s linear infinite;
}
/*--------------- About-US -----------*/
.about-us_heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.about-us_heading h1{
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}
.about-us_heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
.about-us_heading p{
  font-size: 18px;
  color: #666;
  margin-bottom: 35px;
}
.about-container{
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.about-content .read-more:hover{
  background-color: #3e8e41;
}
/*********** OurServices  ************/
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;
  justify-content: center;
  overflow: hidden;
  text-decoration: none !important;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  justify-content: center;
  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 50px 0 25px; 
  justify-content: center;
  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
/*********** OurProduct ************/
.main{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 25px;
  font-size: 40px;
  /* font-weight: 400; */
  text-align: center;
  position: relative;
}
h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #454dd1 40%, #00006e 100%);
  height: 100%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}


/************** footer ************/
.container {
  position: relative;
  height: 70vh;
}

.footer_wave {
  position: absolute;
  bottom: 0;
  height: 70vh;
  width: 100%;
  background: url('/wave.png') repeat-x;
  background-size: 450rem 50rem;
  animation: animate 15s linear infinite;
}

@keyframes  animate {
  0% {
    background-position-x: 0;
    background-position-x: -250rem;
  }
}

.footer_wave:nth-child(1) {
  opacity: 0.9;
}

.footer_wave:nth-child(2) {
  opacity: 0.5;
  animation-delay: 0.2s;
  animation-direction: reverse;
}

.footer_wave:nth-child(3) {
  opacity: 0.7;
  animation-delay: 5s;
}

/*------------------- Responsiveness ---------------------*/
@media screen and (max-width:1024px){
  .nav-links{
    width:60%;
  }
  .header{
    width: 100%;
    height: 60vh;
  }
  .about-us{
    margin: 200px;
  }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right:0px;
        height:90vh;
        top: 10vh;
        background-color:#0a0707;
        display:flex;
        flex-direction: column;  
        align-items: center;
        width:40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 999;
    }
    .burger{
        display:block;
        margin-right: 10px;
    }
    .nav-active{
      transform: translateX(0%);
    }
    /*----------------- Header-------------- */
    .header{
      width: 100%;
      height: 60vh;
    }
    /*----------------- About-Us -------------- */
    .about-us{
      margin: 200px;
    }
    .about-us_heading{
      padding: 0px 20px;
    }
    .about-us_heading h1{
      font-size: 36px;
    }
    .about-us_heading p{
      font-size: 17px;
      margin-bottom: 0px;
    }
    .about-container{
      padding: 0px;
    }
    .about{
      padding: 20px;
      flex-direction: column;
    }
    .about-image{
      margin-right: 0px;
      margin-bottom: 20px;
    }
    .about-content p{
      padding: 0px;
      font-size: 16px;
    }
    .about-content .read-more{
      font-size: 16px;
    }
    .gallery{
      top: 180%;
    }
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-40deg) translate(-5px,6px);
}

.toggle .line2{
  transform: rotate(43deg) translate(0px,0px);
}

.toggle .line3{
  transform: rotate(43deg) translate(-5px,-6px);
}
